<div class="main-content" fxLayout="column">
  <ng-progress color="#673ab7" [spinner]="false"></ng-progress>
  <div fxFlex="1">
    <router-outlet></router-outlet>
  </div>
  <solomon-footer></solomon-footer>
</div>
