<mat-toolbar class="homepage-header">
  <mat-toolbar-row class="homepage-header-row">
    <a class="homepage-header-title" routerLink="/">YŪDACHI'S<br/>BLOG</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-button routerLink="/">SOLOMON</a>
    <a mat-button routerLink="/about">ABOUT</a>
    <a mat-button routerLink="/link">LINK</a>
  </mat-toolbar-row>
</mat-toolbar>
