$text_color: rgba(255, 255, 255, 0.87);

.homepage-header {
  height: 420px;
  max-height: 50%;
  color: $text_color;
  background:
    no-repeat url("/assets/logo.svg") center center,
    no-repeat url("/assets/header.jpg") center center;
  background-size: auto 210px, cover;
}

.homepage-header-row {
  height: 100%;
  padding: 32px;
  align-items: start;
}

.homepage-header-title {
  color: $text_color;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}
