<div *ngIf="posts.length; then has_post else no_post"></div>

<ng-template #has_post>
  <div class="post-list-item" *ngFor="let post of posts">
    <a class="title" [routerLink]="['/post', post.slug]">
      {{post.title}}
    </a>
    <p class="subtitle">
      <span>{{post.date | date:'mediumDate'}}</span>
      <a class="tag" *ngFor="let tag of post.tags" [routerLink]="['/tag', tag]"> · #{{tag}}</a>
    </p>
  </div>
</ng-template>

<ng-template #no_post>
  <i>No Posts :(</i>
</ng-template>
