<section>
  <div *ngIf="prior" id="nav-prior" class="nav-row nav-prior">
    <a mat-icon-button [routerLink]="['/post', prior.slug]">
      <mat-icon svgIcon="arrow"></mat-icon>
    </a>
    <div class="nav-text">
      <span>Prior</span>
      <strong>{{prior.title}}</strong>
    </div>
  </div>
  <div *ngIf="next" id="nav-next" class="nav-row">
    <a mat-icon-button [routerLink]="['/post', next.slug]">
      <mat-icon svgIcon="arrow"></mat-icon>
    </a>
    <div class="nav-text">
      <span>Next</span>
      <strong>{{next.title}}</strong>
    </div>
  </div>
</section>
