/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.primary-header {
  padding: 0;
  margin: 40px auto;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.primary-subheader {
  margin: 0;
  padding: 0 0 20px 0;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 40px;
}

// highlight.js style

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: mat-color($mat-grey, 300);
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs, .hljs-subst {
  color: mat-color($mat-grey, 800);
}

.hljs-comment {
  color: mat-color($mat-grey, 500);
}

.hljs-literal {
  color: mat-color($mat-light-green, 600);
}

.hljs-meta {
  color: mat-color($mat-blue, 800);
}

.hljs-meta-string {
  color: mat-color($mat-cyan, 600);
}

.hljs-title, .hljs-section {
  color: mat-color($mat-red, 900);
  font-weight: bold;
}

.hljs-built_in, .hljs-bullet,
.hljs-code, .hljs-addition {
  color: mat-color($mat-green, 600);
}

.hljs-keyword, .hljs-attribute, .hljs-selector-tag,
.hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: bold;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id,
.hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: mat-color($mat-red, 900);
}

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-link,
.hljs-template-variable, .hljs-selector-attr, .hljs-selector-pseudo {
  color: mat-color($mat-red, A100);
}
