<mat-toolbar>
  <a mat-icon-button href="/atom.xml">
    <mat-icon svgIcon="rss"></mat-icon>
  </a>
  <span class="footer-spacer"></span>
  <span class="footer-text">Content licensed under CC-BY-SA-4.0.</span>
</mat-toolbar>
